header {
  background-color: #101720;
  color: white;
  display: flex;
  flex-direction: row;
  /*default*/
  flex-flow: row;
  justify-content: center;
  align-items: center;
  height: 80px;
  text-transform: uppercase; }
  header ul {
    margin: 0;
    padding: 0; }
    header ul li {
      display: inline; }
      header ul li a {
        text-decoration: none;
        padding: 10px;
        font-size: 16px;
        font-weight: 520;
        color: white; }
        header ul li ahover {
          cursor: pointer;
          background-color: rgba(253, 239, 106, 0.808);
          border-radius: 5px;
          color: white; }
  header img {
    width: 160px;
    height: auto;
    position: relative;
    right: 100px; }

footer {
  background-color: #090d11;
  color: white;
  display: flex;
  justify-content: space-around;
  padding: 20px;
  align-items: center;
  height: 100px; }
  footer p {
    font-size: 12px;
    margin: 0;
    padding: 0; }
  footer ul {
    margin: 0;
    padding: 0; }
    footer ul li {
      display: inline;
      border-left: solid #d4c257cb 3px; }
      footer ul li a {
        text-decoration: none;
        padding: 10px;
        font-size: 16px;
        font-weight: 520;
        color: white; }
        footer ul li ahover {
          cursor: pointer;
          background-color: rgba(253, 239, 106, 0.808);
          border-radius: 5px;
          color: white; }
  footer .social a {
    padding-left: 7px; }

.custom-btn {
  font-size: 14px;
  font-weight: 520;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  padding: 15px;
  border: 1.5px solid #101720;
  cursor: pointer;
  position: relative;
  background-color: rgba(202, 79, 79, 0); }
  .custom-btnafter {
    content: "";
    background-color: #ffe54c;
    width: 100%;
    z-index: -1;
    position: absolute;
    height: 100%;
    top: 7px;
    left: 7px;
    transition: 0.2s; }
  .custom-btnhover {
    cursor: pointer;
    background-color: rgba(245, 239, 182, 0.808);
    border: 2px solid #101720; }

section h1 {
  grid-area: title;
  align-self: center; }

section .btn {
  width: 180px;
  height: 80px;
  grid-area: buttom;
  justify-self: center; }

section .video {
  grid-area: video;
  justify-self: center;
  align-self: center; }

section .design-items {
  grid-area: items;
  padding-left: 50px;
  justify-self: center;
  align-self: center; }

.shop-container {
  background-color: rgba(206, 191, 194, 0.2);
  margin: 50px; }
  .shop-container h1 {
    border-bottom: solid #101720; }

.shop-cards-container {
  padding: 40px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around; }

.shop-card {
  width: 300px;
  height: 300px;
  text-align: center; }
  .shop-card p {
    width: 200px;
    margin: 0 auto;
    margin-top: 10px; }

.tech-cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 80px;
  padding-top: 30px; }

.tech-card {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 0.5fr 1fr 0.8fr;
  grid-template-areas: "title title" "p p" "link picture";
  padding: 30px;
  width: 300px;
  height: 360px;
  background-color: rgba(206, 191, 194, 0.2);
  margin-top: 20px;
  transition: transform 0.6s;
  box-sizing: content-box; }
  .tech-cardhover {
    transform: scale(1.03);
    border-style: solid;
    border-width: 2px;
    border-color: rgba(90, 89, 81, 0.808); }
  .tech-card p {
    grid-area: p;
    font-size: 14px;
    margin-bottom: 8px; }
  .tech-card h2 {
    margin-bottom: 8px;
    grid-area: title; }
  .tech-card a {
    grid-area: link;
    align-self: center;
    color: #101720; }
    .tech-card ahover {
      color: darkblue;
      font-weight: 600; }
  .tech-card img {
    width: 115px;
    height: auto;
    grid-area: picture;
    align-self: center;
    transition: transform 0.2s; }
    .tech-card imghover {
      transform: scale(1.02); }

#tech-title-col {
  margin: 0;
  background-color: #ffe54c; }

#tech-footer {
  margin-top: 50px; }

/* Creating and Using Variables */
body {
  background-color: #eeeedff1;
  text-align: justify;
  display: flex;
  flex-direction: column; }
  body img {
    width: 200px;
    height: 200px;
    object-fit: cover; }
  body .title {
    padding: 40px;
    font-size: 1.5rem;
    text-transform: uppercase;
    text-align: center;
    background-color: #ffe54c;
    font-weight: 600; }
  body a {
    color: white; }
