.custum-navbar {
  background-color: #101720;
  color: white;
  display: flex;
  flex-direction: row;
  /*default*/
  flex-flow: row;
  justify-content: center;
  align-items: center;
  height: 80px;
  text-transform: uppercase; }
  .custum-navbar ul {
    margin: 0;
    padding: 0; }
    .custum-navbar ul li {
      display: inline; }
      .custum-navbar ul li a {
        text-decoration: none;
        padding: 10px;
        font-size: 16px;
        font-weight: 520;
        color: white; }
        .custum-navbar ul li a:hover {
          cursor: pointer;
          background-color: rgba(253, 239, 106, 0.808);
          border-radius: 5px;
          color: white; }
  .custum-navbar img {
    width: 160px;
    height: auto;
    position: relative;
    right: 100px; }

.footer-container {
  background-color: #101720;
  color: white;
  display: flex;
  justify-content: space-around;
  padding: 20px;
  align-items: center;
  height: 100px; }
  .footer-container p {
    font-size: 12px;
    margin: 0;
    padding: 0; }

.footer-nav ul {
  margin: 0;
  padding: 0; }
  .footer-nav ul li {
    display: inline;
    border-left: solid rgba(253, 239, 106, 0.808) 3px; }
    .footer-nav ul li a {
      text-decoration: none;
      padding: 10px;
      font-size: 16px;
      font-weight: 520;
      color: white; }
      .footer-nav ul li a:hover {
        cursor: pointer;
        background-color: rgba(253, 239, 106, 0.808);
        border-radius: 5px;
        color: white; }

#nav-no-bar {
  border-left: none; }

.social a {
  padding-left: 7px; }

.custom-btn {
  font-size: 14px;
  font-weight: 520;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  padding: 15px;
  border: 1.5px solid #101720;
  cursor: pointer;
  position: relative;
  background-color: rgba(202, 79, 79, 0); }
  .custom-btn:after {
    content: "";
    background-color: #ffe54c;
    width: 100%;
    z-index: -1;
    position: absolute;
    height: 100%;
    top: 7px;
    left: 7px;
    transition: 0.2s; }
  .custom-btn:hover {
    cursor: pointer;
    background-color: rgba(245, 239, 182, 0.808);
    border: 2px solid #101720; }

.container {
  margin-top: 2%;
  color: white;
  overflow: hidden;
  background-image: url("/images/coverimage3.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: grey;
  background-blend-mode: multiply;
  width: 100%;
  height: 500px; }

#secound-container {
  background-image: url("/images/home-cover.jpg");
  margin-bottom: 2%; }

.text-container {
  width: 60%;
  margin-left: 10%;
  margin-top: 8%;
  border: solid 5px #ffe44ce5;
  padding: 5px;
  background-color: #c5c0a69d;
  font-size: 1rem; }

.cover-title {
  padding: 20px;
  padding-bottom: 8px;
  background-color: #e9d98b86;
  font-weight: 600;
  font-size: 1.5rem;
  text-transform: uppercase; }

.cover-text {
  padding: 20px;
  background-color: #e9d98b86;
  font-weight: 400; }

.secound-text-container {
  width: 40%;
  height: 85%;
  margin-left: 55%;
  margin-top: 2%;
  border: solid 5px #ffe44ce5;
  padding: 5px;
  background-color: #c5c0a69d;
  font-size: 1rem; }

.secound-cover-title {
  padding: 20px;
  padding-bottom: 8px;
  background-color: #e9d98b86;
  font-weight: 600;
  font-size: 1.5rem;
  text-transform: uppercase; }

.secound-cover-text {
  padding: 20px;
  background-color: #e9d98b86;
  height: 85%;
  font-weight: 400; }

.design-container {
  margin: 50px;
  padding-bottom: 60px;
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 80px 100px 200px 80px;
  grid-template-areas: "title title" "subtitle subtitle" "items video" "buttom video";
  column-gap: 50px;
  align-content: center;
  background-color: rgba(206, 191, 194, 0.2);
  overflow: hidden; }
  .design-container .btn {
    width: 180px;
    height: 80px;
    grid-area: buttom;
    justify-self: center; }

.design-title {
  grid-area: title;
  align-self: center; }

.design-subtitle {
  grid-area: subtitle;
  justify-self: start;
  align-self: end;
  padding-left: 50px; }

.video {
  grid-area: video;
  justify-self: center;
  align-self: center; }

.design-items {
  grid-area: items;
  padding-left: 50px;
  justify-self: center;
  align-self: center; }

.event-container {
  margin: 50px;
  padding-bottom: 50px;
  column-gap: 10px;
  background-color: rgba(206, 191, 194, 0.2);
  font-family: "Noto Sans Display", sans-serif; }
  .event-container img {
    width: 400px;
    object-fit: cover; }
    .event-container imghover {
      opacity: 0.5; }

.date {
  margin-top: 20px;
  background-color: #b9af71;
  border-color: #b9af71;
  color: white;
  font-weight: 550;
  border-radius: 5px;
  padding: 5px;
  width: 200px; }
  .datehover {
    cursor: pointer;
    background-color: #101720;
    border: 2px solid #101720; }

#event-title {
  padding: 40px;
  font-size: 1.5rem;
  text-transform: uppercase;
  text-align: center;
  background-color: #ffe54c;
  font-family: "Noto Sans Display", sans-serif;
  width: 100%;
  font-weight: 600;
  margin: 0; }

#event-title-col {
  margin: 0;
  background-color: #ffe54c; }

.card {
  margin: 50px;
  align-items: center; }

.card-title {
  font-weight: 600; }

.btn-primary {
  background-color: #d3c784;
  border-color: #ffe54c;
  font-weight: 400;
  width: 50%;
  margin-left: 25%; }
  .btn-primaryhover {
    background-color: #090d11;
    border-color: #090d11; }

.shop-container {
  background-color: rgba(206, 191, 194, 0.2);
  margin: 50px; }
  .shop-container h1 {
    border-bottom: solid #101720; }

.shop-cards-container {
  padding: 40px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around; }

.shop-card {
  width: 300px;
  height: 300px;
  text-align: center; }
  .shop-card p {
    width: 200px;
    margin: 0 auto;
    margin-top: 10px; }

.img-wrap {
  position: relative;
  margin: 0 auto;
  height: 200px;
  width: 257px;
  text-align: center;
  vertical-align: middle;
  line-height: 200px; }

.img-description {
  position: absolute;
  top: 10;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(54, 54, 51, 0.9);
  color: #fff;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.2s, visibility 0.2s;
  font-weight: 520; }

.img-wrap:hover .img-description {
  visibility: visible;
  opacity: 1; }

.tech-cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 80px;
  padding-top: 30px; }

.tech-card {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 0.5fr 1fr 0.8fr;
  grid-template-areas: "title title" "p p" "link picture";
  padding: 30px;
  width: 300px;
  height: 360px;
  background-color: rgba(206, 191, 194, 0.2);
  margin-top: 20px;
  transition: transform 0.6s;
  box-sizing: content-box; }
  .tech-cardhover {
    transform: scale(1.03);
    border-style: solid;
    border-width: 2px;
    border-color: rgba(90, 89, 81, 0.808); }
  .tech-card p {
    grid-area: p;
    font-size: 14px;
    margin-bottom: 8px; }
  .tech-card h2 {
    margin-bottom: 8px;
    grid-area: title; }
  .tech-card a {
    grid-area: link;
    align-self: center;
    color: #101720; }
    .tech-card ahover {
      color: darkblue;
      font-weight: 600; }
  .tech-card img {
    width: 115px;
    height: auto;
    grid-area: picture;
    align-self: center;
    transition: transform 0.2s; }
    .tech-card imghover {
      transform: scale(1.02); }

#tech-title-col {
  margin: 0;
  background-color: #ffe54c; }

#tech-footer {
  margin-top: 50px; }

* {
  margin: 0;
  font-family: "Noto Sans Display", sans-serif;
  padding: 0px;
  box-sizing: border-box; }

body {
  background-color: #eeeedff1;
  text-align: justify;
  display: flex;
  flex-direction: column; }
  body img {
    width: 200px;
    height: 200px;
    object-fit: cover; }
  body .title {
    padding: 40px;
    font-size: 1.5rem;
    text-transform: uppercase;
    text-align: center;
    background-color: #ffe54c;
    font-weight: 600; }
  body a {
    color: white; }
