$main-font: "Noto Sans Display", sans-serif;

$primary-yellow-color: #ffe54c;
$secondary-blackish-color: #101720;
$secondary-soft-grey-color: rgba(148, 148, 148, 0.521);
$secondary-soft-yellow-color: rgba(253, 239, 106, 0.808);
