@import "customVariables";

.footer-container {
  background-color: $secondary-blackish-colo2r;
  color: white;
  display: flex;
  justify-content: space-around;
  padding: 20px;
  align-items: center;
  height: 100px;

  p {
    font-size: 12px;
    margin: 0;
    padding: 0;
  }
}

.footer-nav ul {
  margin: 0;
  padding: 0;
  li {
    display: inline;
    border-left: solid $secondary-soft-yellow-color 3px;
    a {
      text-decoration: none;
      padding: 10px;
      font-size: 16px;
      font-weight: 520;
      color: white;

      &:hover {
        cursor: pointer;
        background-color: $secondary-soft-yellow-color;
        border-radius: 5px;
        color: white;
      }
    }
  }
}

#nav-no-bar {
  border-left: none;
}

.social a {
  padding-left: 7px;
}
