@import "customVariables";

.custum-navbar {
  background-color: $secondary-blackish-color;
  color: white;
  display: flex;
  flex-direction: row; /*default*/
  flex-flow: row;
  justify-content: center;
  align-items: center;
  height: 80px;
  text-transform: uppercase;

  ul {
    margin: 0;
    padding: 0;

    li {
      display: inline;

      a {
        text-decoration: none;
        padding: 10px;
        font-size: 16px;
        font-weight: 520;
        color: white;

        &:hover {
          cursor: pointer;
          background-color: $secondary-soft-grey-color;
          border-radius: 5px;
          color: white;
        }
      }
    }
  }

  img {
    width: 160px;
    height: auto;
    position: relative;
    right: 100px;
  }
}
