@import "header";
@import "footer";
@import "buttons";
@import "../pages/home";
@import "../pages/design";
@import "../pages/events";
@import "../pages/shop";
@import "../pages/technologies";
@import "customVariables";
@import "mediaQueries";

* {
  margin: 0;
  font-family: $main-font;
  padding: 0px;
  box-sizing: border-box;
}

body {
  background-color: #eeeedff1;
  text-align: justify;
  display: flex;
  flex-direction: column;

  img {
    width: 200px;
    height: 200px;
    object-fit: cover;
  }

  .title {
    padding: 40px;
    font-size: 1.5rem;
    text-transform: uppercase;
    text-align: center;
    background-color: $primary-yellow-color;
    font-weight: 600;
  }

  a {
    color: white;
  }
}

