.design-container {
  margin: 50px;
  padding-bottom: 60px;
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 80px 100px 200px 80px;
  grid-template-areas:
    "title title"
    "subtitle subtitle"
    "items video"
    "buttom video";
  column-gap: 50px;
  align-content: center;
  background-color: rgba(206, 191, 194, 0.2);
  overflow: hidden; 

  .btn {
    width: 180px;
    height: 80px;
    grid-area: buttom;
    justify-self: center;
  }
}

.design-title {
  grid-area: title;
  align-self: center;
}

.design-subtitle {
  grid-area: subtitle;
  justify-self: start;
  align-self: end;
  padding-left: 50px;
}

.video {
  grid-area: video;
  justify-self: center;
  align-self: center;
}

.design-items {
  grid-area: items;
  padding-left: 50px;
  justify-self: center;
  align-self: center;
}