
/*Initial reset*/
*{
    margin: 0;
    font-family: 'Noto Sans Display', sans-serif;
    padding:0px;
    /* box-sizing: border-box;  check me rompe el footer*/

}

body{
    background-color: #f8f8f7;
    text-align: justify;
    display: flex;
    flex-direction: column;
}

img{
    width: 200px;
    height: 200px;
}

.title{
    padding: 40px;
    font-size: 1.5rem;
    text-transform: uppercase;
    text-align: center;
    background-color: #ffe54c;
}

/*Navbar*/

.navbar{
    background-color: #101720;
    color:white;
    display: flex;
    flex-direction: row; /*default*/
    flex-flow: row;
    justify-content: center;
    align-items: center;
    height: 80px;
    text-transform: uppercase;
}

.navbar li{
    display: inline;
}

.navbar a{
    text-decoration: none;
    padding: 10px;
    font-size: 16px;
    font-weight: 520;
}

.navbar a:hover{
    cursor: pointer;
    background-color:#ad6d90;
    border-radius: 5px;
}


.navbar img{
    width: 195px;
    height: auto;
    position: relative;
    right: 100px;
}



/*Home card*/

.home-card{
    padding: 100px;
    margin: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: flex-start;
    width: 800px;
    height: 500px;
    background-color: rgba(206, 191, 194, 0.2);   
}

.news-card{
    padding: 100px;
    margin-top: 40px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: flex-start;
    width: auto;
    height: 500px;
    background-color: rgba(245, 239, 182, 0.808); 
    font-weight: 500;  

}

.news-card .btn{
    background-color: rgba(206, 191, 194, 0.2);
}

.news-card .btn:after{
    background-color:rgb(88, 83, 32)
}

.home-card p{
 margin-top: 30px;
 margin-bottom: 30px;
 width: 300px;
}


.home-card img{
    width: 75%;
    height: auto;
    padding: 20px;
}

a{
    color: white;
}

.home-card .btn{
    width: 150px;
}

/* Technologies */

.tech-cards-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 80px;
    padding-top: 30px;
}

.tech-card{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.5fr 1fr 0.8fr;
    grid-template-areas: "title title" "p p" "link picture";
    padding: 30px;
    width: 300px;
    height: 360px;
    background-color: rgba(206, 191, 194, 0.2);
    margin-top: 20px;
    transition: transform .6s;
}

.tech-card:hover{
    transform: scale(1.03);
    border-style: solid;
    border-width: 2px;
    border-color:rgba(90, 89, 81, 0.808) ;
}

.tech-card p{
    grid-area: p;
    font-size: 14px;
    margin-bottom: 8px;
}

.tech-card h2{
    margin-bottom: 8px;
    grid-area: title;
}

.tech-card a{
    grid-area: link;
    align-self: center;
    color: #101720;
}

.tech-card a:hover{
    color: darkblue;
    font-weight: 600;
}

.tech-card img{
    width: 115px;
    height: auto;
    grid-area: picture;
    align-self: center;
    transition: transform .2s;
}

.tech-card img:hover{
    transform: scale(1.02);
}


/*Design*/

.design-container{
    margin: 50px;
    padding-bottom: 60px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 80px 100px 200px 80px;
    grid-template-areas: 
    "title title" 
    "subtitle subtitle"
    "items video"
    "buttom video";
    column-gap: 50px;
    align-content: center;
    background-color: rgba(206, 191, 194, 0.2);
}

.design-title{
    grid-area: title;
    align-self: center;
}

.design-subtitle{
    grid-area: subtitle;
    justify-self: start;
    align-self: end;
    padding-left: 50px;
}

.design-container .btn{
    width: 180px;
    height: 80px;
    grid-area: buttom;
    justify-self: center ;
}

.video{
    grid-area: video;
    justify-self: center;
    align-self: center;
}

.design-items{
    grid-area: items;
    padding-left: 50px;
    justify-self: center;
    align-self: center;
}

/*Merch*/

.merch-container{
    background-color: rgba(206, 191, 194, 0.2);
    margin: 50px;
}

.merch-container h1{
    border-bottom: solid #101720;
}

.merch-cards-container{
    margin-left: 100px;
    padding: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.merch-card p{
    width: 200px;
} 

.merch-card{
    width: 300px;
    height: 300px;
}

.merch-card img:hover{
    opacity: 0.6;
    border: solid #102542;

}

/*Events*/

.event-container{
    margin: 50px;
    padding-bottom: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.4fr 2.5fr 0.6fr 0.3fr;
    justify-content: center;
    align-items: center;
    column-gap: 10px;
    grid-template-areas: "title title" "first-img secound-img" "p secound-p" "date secound-date";
    background-color: rgba(206, 191, 194, 0.2);
}

.event-title{
    grid-area: title;
}

.event-container img{
    width: 400px;
    object-fit: cover;
}

.first-img{
    grid-area: first-img;
    justify-self: center;
    align-self: center;
}

.secound-img{
    grid-area: secound-img;
    justify-self: center;
    align-self: center;
}

.p{
    grid-area: p;
    justify-self: center;
    width: 350px;
}

.secound-p{
    grid-area: "secound-p";
    justify-self: center;
    width: 350px;
}

.date{
    margin-top: 20px;
    background-color: #101720;
    border-color: #101720;
    color: white;
    font-weight: 550;
    border-radius: 5px;
    padding: 5px;
    grid-area: date;
    width: 200px;
    justify-self: center;
}

.date:hover{
    cursor: pointer;
    background-color: #101720;
    border: 2px solid #101720;
}

.secound-date{
    grid-area: secound-date;
}

.event-container img:hover{
    opacity: 0.5;
}


/*Footer*/

.footer-container{
    background-color: #101720;
    color:white;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.1fr 0.08fr;
    grid-template-areas: "logo nav" "social p";
}

.logo {
    grid-area: logo;
    align-self: center;
    justify-self: center;
}

.footer-logo{
    padding-top: 20px;
    width: 170px;
    height: auto;
}

.footer-nav{
    grid-area: nav;
    align-self: center;
    justify-self: center;
}

.social{
    grid-area: social;
    align-self: center;
    justify-self: center;
}


.footer-container p{
    grid-area: p;
    align-self: start;
    justify-self: end;
    padding-right: 10px;
    padding-bottom: 20px;
    font-size: 12px;
}
.footer-nav li{
    display: inline;
}

.footer-nav a{
    text-decoration: none;
    padding: 10px;
    font-size: 16px;
    font-weight: 520;
}

.footer-nav a:hover{
    cursor: pointer;
    background-color:rgba(253, 239, 106, 0.808);
    border-radius: 5px;
}


/*Buttons*/

.btn{
    font-size: 14px;
    font-weight: 520;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    padding: 15px;
    border: 1.5px solid #101720;
    cursor: pointer;
    position: relative;
    background-color: rgba(202, 79, 79, 0);
}

.btn:after{
    content: "";
    background-color: #ffe54c;
    width: 100%;
    z-index: -1;
    position: absolute;
    height: 100%;
    top: 7px;
    left: 7px;
    transition: 0.2s;
}

.btn:hover{
    cursor: pointer;
    background-color: rgba(245, 239, 182, 0.808);
    border: 2px solid #101720;
}






