/* Colours 
https://coolors.co/palette/102542-f87060-cdd7d6-b3a394-ffffff

#102542, #f87060, #cdd7d6, #b3a394, #ffffff

#463e36
#8d406a
#131e2e blue

mobile mirar iphone x

cuatro section con GRID
cada section, ej body organizarlo, se usa flexbox

se suele usar boostramp para grillas


*/


/*Initial reset*/
*{
    margin: 0;
    font-family: 'Noto Sans Display', sans-serif;

}

body{
    background-color: #f8f8f7;
    text-align: justify;
}

img{
    width: 200px;
    height: 200px;
}

/*Navbar*/

.navbar{
    background-color: #101720;
    color:white;
    display: flex;
    flex-direction: row; /*default*/
    flex-flow: row;
    justify-content: center;
    align-items: center;
    height: 80px;
    text-transform: uppercase;
}

.navbar li{
    display: inline;
}

.navbar a{
    text-decoration: none;
    padding: 10px;
    font-size: 16px;
    font-weight: 520;
}

.navbar a:hover{
    cursor: pointer;
    background-color:#ad6d90;
    border-radius: 5px;
}


.navbar img{
    width: 195px;
    height: auto;
    position: relative;
    right: 100px;
}


/*Home card*/

.home-card{
    padding: 100px;
    margin: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: flex-start;
    width: 800px;
    height: 500px;
    background-color: rgba(206, 191, 194, 0.2);
    
}


.home-card p{
 margin-top: 30px;
 margin-bottom: 30px;
 width: 300px;
}


.home-card img{
    width: 75%;
    height: auto;
    padding: 20px;
}

a{
    color: white;
}

.home-card .btn{
    width: 150px;

}

/* Technologies */

.title{
    padding: 40px;
    text-transform: uppercase;
    text-align: center;
    background-color: #ffe54c;
}

.tech-cards-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 80px;
    padding-top: 30px;
}

.tech-card{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.5fr 1fr 0.8fr;
    grid-template-areas: "title title" "p p" "link picture";
    padding: 30px;
    width: 300px;
    height: 360px;
    background-color: rgba(206, 191, 194, 0.2);
    margin-top: 20px;
}

.tech-card p{
    grid-area: p;
    font-size: 14px;
    margin-bottom: 8px;
}

.tech-card h2{
    margin-bottom: 8px;
    grid-area: title;
}

.tech-card a{
    grid-area: link;
    align-self: center;
}

.tech-card img{
    width: 115px;
    height: auto;
    grid-area: picture;
    align-self: center;
}

/*Design*/

.design-container{
    margin: 90px;
    padding: 60px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 0.6fr 0.7fr 3fr 0.5fr;
    grid-template-areas: 
    "title title" 
    "subtitle subtitle"
    "items video"
    "buttom buttom";
    column-gap: 50px;
    justify-items: center;
    align-items: center;
    align-content: center;
    background-color: rgba(206, 191, 194, 0.2);
}

.design-title{
    text-transform: uppercase;
    grid-area: title;
}

.design-subtitle{
    grid-area: subtitle;
    justify-self: start;
}

.design-container .btn{
    width: 280px;
    height: 70px;
    grid-area: buttom;
    justify-self: start;
}

.video{
    grid-area: video;
    /* padding: 50px; */
}

.design-items{
    grid-area: items;
    padding: 10px;
}

/*Merch*/

.merch-container{
    background-color: rgba(206, 191, 194, 0.2);
    margin: 30px;
}

.merch-cards-container{
    margin-left: 100px;
    padding: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.merch-card{
    width: 300px;
    height: 300px;
}

.merch-card img:hover{
    opacity: 0.8;
    border: solid #102542;
}

/*Events*/

.event-container{
    text-align: center;
    margin: 50px;
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.4fr 0.5fr 0.6fr 0.3fr;
    justify-content: center;
    align-items: center;
    column-gap: 10px;
    grid-template-areas: "title title" "first-img secound-img" "p secound-p" "date secound-date";
    background-color: rgba(206, 191, 194, 0.2);
}

.event-title{
    grid-area: title;
}

.event-container img{
    width: 400px;
    object-fit: cover;
    margin-bottom: 20px;
}

.first-img{
    grid-area: first-img;
    justify-self: center;
}

.secound-img{
    grid-area: secound-img;
    justify-self: center;
}

.p{
    grid-area: p;
}

.secound-p{
    grid-area: "secound-p";
}

.date{
    margin-top: 20px;
    background-color: #463e36;
    border-color: #463e36;
    color: white;
    font-weight: 550;
    border-radius: 5px;
    padding: 5px;
    grid-area: date;
}

.secound-date{
    grid-area: secound-date;
}


.date:hover{
    cursor: pointer;
    background-color: #463e36;
}

/*Footer*/

.footer-container{
    background-color: #101720;
    color:white;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.1fr 0.08fr;
    grid-template-areas: "logo nav" "p p";
}

.logo {
    grid-area: logo;
    align-self: center;
    justify-self: center;
}

.footer-logo{
    padding-top: 20px;
    width: 170px;
    height: auto;
}

.footer-nav{
    grid-area: nav;
    align-self: center;
    justify-self: center;
}

.footer-container p{
    grid-area: p;
    align-self: start;
    justify-self: end;
    padding-right: 10px;
    padding-bottom: 20px;
    font-size: 12px;
}
.footer-nav li{
    display: inline;
}

.footer-nav a{
    text-decoration: none;
    padding: 10px;
    font-size: 16px;
    font-weight: 520;
}

.footer-nav a:hover{
    cursor: pointer;
    background-color:rgba(253, 239, 106, 0.808);;
    border-radius: 5px;
}


/*Buttons*/

.btn{
    font-size: 14px;
    font-weight: 520;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    padding: 15px;
    border: 1.5px solid #101720;
    cursor: pointer;
    position: relative;
    background-color: rgba(202, 79, 79, 0);
}

.btn:after{
    content: "";
    background-color: #ffe54c;
    width: 100%;
    z-index: -1;
    position: absolute;
    height: 100%;
    top: 7px;
    left: 7px;
    transition: 0.2s;
}

.btn:hover{
    cursor: pointer;
    background-color: rgba(245, 239, 182, 0.808);
    border: 2px solid #101720;
}







