/*Initial reset*/
* {
  margin: 0;
  font-family: "Noto Sans Display", sans-serif;
  padding: 0px;
  box-sizing: border-box;
}

body {
  background-color: #f8f8f7;
  text-align: justify;
  display: flex;
  flex-direction: column;
}

img {
  width: 200px;
  height: 200px;
  object-fit: cover;
}

.title {
  padding: 40px;
  font-size: 1.5rem;
  text-transform: uppercase;
  text-align: center;
  background-color: #ffe54c;
}

a {
  color: white;
}

/*....*/

/*Navbar*/

.custum-navbar {
  background-color: #101720;
  color: white;
  display: flex;
  flex-direction: row; /*default*/
  flex-flow: row;
  justify-content: center;
  align-items: center;
  height: 80px;
  text-transform: uppercase;
}

.custum-navbar li {
  display: inline;
}

.custum-navbar a {
  text-decoration: none;
  padding: 10px;
  font-size: 16px;
  font-weight: 520;
}

.custum-navbar a:hover {
  cursor: pointer;
  background-color: rgba(253, 239, 106, 0.808);
  border-radius: 5px;
}

.custum-navbar img {
  width: 195px;
  height: auto;
  position: relative;
  right: 100px;
}

/*....*/

/*Home card*/

/* Container holding the image and the text */
.container {
  margin-top: 2%;
  margin-bottom: 2%;
  /* position: relative; */
  color: white;
  overflow: hidden;
  background-image: url("/images/coverimage3.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: grey;
  background-blend-mode: multiply;
  width: 100%;
  height: 500px;
}

.text-container {
  width: 60%;
  margin-left: 10%;
  margin-top: 8%;
  border: solid 5px #ffe44ce5;
  padding: 5px;
  background-color: #c5c0a69d;
  font-size: 1.2rem;
}
.cover-title {
  padding: 20px;
  padding-bottom: 8px;
  background-color: #ffe44c86;
  font-weight: 600;
  font-size: 1.5rem;
  text-transform: uppercase;
}

.cover-text {
  padding: 20px;
  background-color: #ffe44c86;
  font-weight: 400;
}

/*....*/

/* Technologies */

.tech-cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 80px;
  padding-top: 30px;
}

.tech-card {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 0.5fr 1fr 0.8fr;
  grid-template-areas: "title title" "p p" "link picture";
  padding: 30px;
  width: 300px;
  height: 360px;
  background-color: rgba(206, 191, 194, 0.2);
  margin-top: 20px;
  transition: transform 0.6s;
  box-sizing: content-box;
}

.tech-card:hover {
  transform: scale(1.03);
  border-style: solid;
  border-width: 2px;
  border-color: rgba(90, 89, 81, 0.808);
}

.tech-card p {
  grid-area: p;
  font-size: 14px;
  margin-bottom: 8px;
}

.tech-card h2 {
  margin-bottom: 8px;
  grid-area: title;
}

.tech-card a {
  grid-area: link;
  align-self: center;
  color: #101720;
}

.tech-card a:hover {
  color: darkblue;
  font-weight: 600;
}

.tech-card img {
  width: 115px;
  height: auto;
  grid-area: picture;
  align-self: center;
  transition: transform 0.2s;
}

.tech-card img:hover {
  transform: scale(1.02);
}

/*....*/

/*Design*/

.design-container {
  margin: 50px;
  padding-bottom: 60px;
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 80px 100px 200px 80px;
  grid-template-areas:
    "title title"
    "subtitle subtitle"
    "items video"
    "buttom video";
  column-gap: 50px;
  align-content: center;
  background-color: rgba(206, 191, 194, 0.2);
}

.design-title {
  grid-area: title;
  align-self: center;
}

.design-subtitle {
  grid-area: subtitle;
  justify-self: start;
  align-self: end;
  padding-left: 50px;
}

.design-container .btn {
  width: 180px;
  height: 80px;
  grid-area: buttom;
  justify-self: center;
}

.video {
  grid-area: video;
  justify-self: center;
  align-self: center;
}

.design-items {
  grid-area: items;
  padding-left: 50px;
  justify-self: center;
  align-self: center;
}

/*Designers*/

/*....*/

/*shop*/

.shop-container {
  background-color: rgba(206, 191, 194, 0.2);
  margin: 50px;
}

.shop-container h1 {
  border-bottom: solid #101720;
}

.shop-cards-container {
  padding: 40px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.shop-card {
  width: 300px;
  height: 300px;
  text-align: center;
}

.shop-card p {
  width: 200px;
  margin: 0 auto;
  margin-top: 10px;
}

.img-wrap {
  position: relative;
  margin: 0 auto;
  height: 200px;
  width: 257px;
  text-align: center;
  vertical-align: middle;
  line-height: 200px;
}

.img-description {
  position: absolute;
  top: 10;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(54, 54, 51, 0.9);
  color: #fff;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.2s, visibility 0.2s;
  font-weight: 520;
}

.img-wrap:hover .img-description {
  visibility: visible;
  opacity: 1;
}

/*....*/

/*Events*/

.event-container {
  margin: 50px;
  padding-bottom: 50px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 0.4fr 2.5fr 0.6fr 0.3fr;
  justify-content: center;
  align-items: center;
  column-gap: 10px;
  grid-template-areas: "title title" "first-img secound-img" "p secound-p" "date secound-date";
  background-color: rgba(206, 191, 194, 0.2);
}

.event-title {
  grid-area: title;
}

.event-container img {
  width: 400px;
  object-fit: cover;
}

.first-img {
  grid-area: first-img;
  justify-self: center;
  align-self: center;
}

.secound-img {
  grid-area: secound-img;
  justify-self: center;
  align-self: center;
}

.p {
  grid-area: p;
  justify-self: center;
  width: 350px;
}

.secound-p {
  grid-area: "secound-p";
  justify-self: center;
  width: 350px;
}

.date {
  margin-top: 20px;
  background-color: #b9af71;
  border-color: #b9af71;
  color: white;
  font-weight: 550;
  border-radius: 5px;
  padding: 5px;
  grid-area: date;
  width: 200px;
  justify-self: center;
}

.date:hover {
  cursor: pointer;
  background-color: #101720;
  border: 2px solid #101720;
}

.secound-date {
  grid-area: secound-date;
}

.event-container img:hover {
  opacity: 0.5;
}

/*....*/

/*Footer*/

.footer-container {
  background-color: #090d11;
  color: white;
  display: flex;
  justify-content: space-around;
  padding: 20px;
  align-items: center;
  height: 100px;
}

.footer-container p {
  font-size: 12px;
}

.footer-nav li {
  display: inline;
  border-left: solid #d4c257cb 3px;
}

#nav-no-bar {
  border-left: none;
}

.footer-nav a {
  text-decoration: none;
  padding: 10px;
  font-size: 16px;
  font-weight: 520;
}

.footer-nav a:hover {
  cursor: pointer;
  background-color: rgba(253, 239, 106, 0.808);
  border-radius: 5px;
}

.social a {
  padding-left: 7px;
}

/*Buttons*/

.btn {
  font-size: 14px;
  font-weight: 520;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  padding: 15px;
  border: 1.5px solid #101720;
  cursor: pointer;
  position: relative;
  background-color: rgba(202, 79, 79, 0);
}

.btn:after {
  content: "";
  background-color: #ffe54c;
  width: 100%;
  z-index: -1;
  position: absolute;
  height: 100%;
  top: 7px;
  left: 7px;
  transition: 0.2s;
}

.btn:hover {
  cursor: pointer;
  background-color: rgba(245, 239, 182, 0.808);
  border: 2px solid #101720;
}

/*Media Queries*/

@media (max-width: 800px) {
  .event-container {
    grid-template-columns: 1fr;
    grid-template-rows: 0.4fr 2.5fr;
  }
}
